{% extends 'base.html' %}

{% block content %}

<div class="container">
    <header class="row">
        <div class="col-12 col-md-4" id="header-text">
            <h2>Let's learn about soccer together</h2>
            <h5>Website for all the people who love soccer</h5>
            <div>
                <button class="btn btn-primary">View League Schedules</button>
                <button class="btn btn-primary">View UCL Schedule</button>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <img src="../static/images/soccer_logo.jpg" alt="Soccer Header" class="header-img">
        </div>
    </header>

    <!-- Middle Section -->

    <section class="middle">
        <div class="col-12" id="middle-text">
            <h2>These are the top six leagues</h2>
            <p>
                These leagues have the greatest talents in the world.<br>
                If you start watching these leagues it is very easy to become a fan.<br>
            </p>
        </div>
    </section>

    <div class="container text-center">
        <div class="row">
          <div class="col">
            <img src="../static/images/Premier_League_Logo.png" alt="Premier League" width="200px">
          </div>
          <div class="col">
            <img src="../static/images/laliga_logo.jpg" alt="La Liga" width="200px">
          </div>
          <div class="col">
            <img src="../static/images/Serie_A_logo.png" alt="Serie A" width="200px">
          </div>
        </div>
      </div>
    
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <img src="../static/images/Bundesliga_logo.png" alt="Bundesliga" width="200px">
          </div>
          <div class="col">
            <img src="../static/images/Ligue1_Uber_Eats_logo.png" alt="League1" width="200px">
          </div>
          <div class="col">
            <img src="../static/images/Eredivisie_Logo.png" alt="Eredivisie" width="200px">
          </div>
        </div>
    </div>

    <!-- Footer section -->
    <div class="end">
        <a href="#">
            <img src="../static/images/USA_soccer_logo.png" alt="USA Logo" width="120px">
        </a>
        <p class="info">Contact: <br> &#128205England <br> 	&#128231;Soccer@gmail.com <br> 
            &#128241Call:(245)674-9856</p>
        <p class="social">Socials: <br> Facebook <br> Instagram <br> Twitter</p>
    </div>


    
</div>

{% endblock content %}